h1 {
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-weight: bold;
}

li {
    font-weight: 200px;
}

.chinese-button {
    background-color: red;
    text-align: center;
}

.pizza-chicken-button {
    background-color: brown;
    text-align: center;
}

.filipino-ribs {
    background-color: aquamarine;
    text-align: center;
}