img {
    height: auto;
    width: 500px;
}

.background-header {
    background-color: black;
    color: white;
}

.description-background {
    background-color: rgb(180, 84, 148);
    color: white;
}

.ingredients-background {
    background-color: darkgray;
}

.directions-background {
    background-color: tomato;
}